.image0
{
  background-color: red;
}

.image1
{
  background-color: blue;
}
.image2
{
  background-color: yellow;
}
.image3
 {
   background-color: green;
 }
.image4
{
  background-color: blueviolet;
}
.image5
{
  background-color:  tomato;
}
